<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center" >
    <div class="text-center">
        <h1 class="front-weight-bold">Contact Manager</h1>
        <p>
            Start collecting your contacts in a smarter way to simplify your life by offering advanced features that ensure you never lose touch with important people.
        </p>
        <button class="btn bg-primary btn-lg text-white">Get started</button>
    </div>
</section>
</body>
</html>